<h1>Welcome, <%= @current_user.name %></h1>
<h2>Your places</h2>
<% @current_user.places.each do |place| %>
  <li><a href="/places/<%= place.id %>"><%= place.name %></a></li>
<% end %>
<a href="/logout">Log out </a>