<h1>New place</h1>
<form action='/places/<%= @place.id %>' method="post">
<label for="name">Edit Name:
<input type="text" name="name" id="name"></input><br>
<label for="hometown">Edit Hometown:
<input type="text" name="city" id="city"></input><br>
<label for="password">Edit Password:
<input type="text" name="country" id="country"></input><br>
<input type="submit" name="submit" id="submit">


</form>type="submit" id="delete" value="Delete place">
</form>
<a href="/logout">Log out </a>