<h1>New place</h1>
<form action='/places' method="post">
  <label for="name">Enter Name:
  <input type="text" name="name" id="name"></input><br>
  <label for="city">Enter City:
  <input type="text" name="city" id="city"></input><br>
  <label for="country">Enter Country:
  <input type="text" name="country" id="country"></input><br>
  <input type="submit" name="submit" id="submit">
</form>
